@import '../../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
  }
}

.constructionDropdownToggle {
  display: flex;
  align-items: center;

  background: $main-gradient !important;

  > i {
    margin-top: -3px;;
    margin-left: 0.64rem;
  }
}

.constructionDropdownMenu {
  background: $main-gradient !important;
  box-shadow: 0 0px 40px 2px rgba(#020202,.5);
  border: none;
  color: $white;

  &.messages {
    left: -50px !important;
  }

  @media (max-width: breakpoint-max(xs)) {
    right: auto;
    left: -100px;
  }

  &::after {
    left: auto !important;
    right: 15px;

    @media (max-width: breakpoint-max(xs)) {
      right: 112px;
    }
  }

  :global(.show) > & {
    display: block;
  }
}

.table {
  :global(.table.table-sm) {
    td {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}

.searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
